{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    <h1>Reclamation </h1>

    <table id="datatablesSimple" class="table">
        <thead>
            <tr>
                <th>Id_demande</th>
                <th>nom_Employe</th>
                <th>papier demandé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
            
                <td>{{ reclamation.id }}</td>
                <td>{{reclamation.User.getNomUser|default('Your default value here')}}</td>
                <td>{{ reclamation.contenu }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_new') }}">Create new</a>
{% endblock %}
