{% extends 'base1.html.twig' %}

{% block title %}Salaire{% endblock %}

{% block body %}
    <h1>Salaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salaire.id }}</td>
            </tr>
            <tr>
                <th>Date_salaire</th>
                <td>{{ salaire.dateSalaire ? salaire.dateSalaire|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Mois</th>
                <td>{{ salaire.mois }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ salaire.montant }}</td>
            </tr>
            <tr>
                <th>Heures_travail</th>
                <td>{{ salaire.heuresTravail }}</td>
            </tr>
          
        
        </tbody>
    </table>

    <a href="{{ path('app_salaire_index') }}">back to list</a>

    <a href="{{ path('app_salaire_edit', {'id': salaire.id}) }}">edit</a>

    {{ include('salaire/_delete_form.html.twig') }}
{% endblock %}
